{% extends 'base.html' %} {% block content %}
<div>
  <div>
    <form action="{{ url_for('cadastrar_cliente')}}" method="POST">
      <fieldset>
        <div class="container mt-lg">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" class="form-control" />
        </div>

        <div class="container mt-lg">
          <label for="cpf">CPF</label>
          <input type="text" id="cpf" name="cpf" class="form-control" />
        </div>
      </fieldset>
    </form>
  </div>
  <div class="container mt-lg">
    <button type="submit" class="btn btn-outline-success">Cadastrar!</button>
  </div>

  <div class="container mt-lg">
    <form action="{{ url_for('main')}}">
      <button type="submit" class="btn btn-outline-danger">Voltar</button>
    </form>
  </div>
</div>
{% endblock %}
