{% extends 'base.html' %} {% block content %}
<div>
  <form action="{{ url_for('escolherConta')}}" method="POST">
    <fieldset>
      <div class="container mt-lg">
        <label for="nome">tipo de conta</label>
        <select id="tipo" name="tipo" class="form-control" required>
          <option value="" disabled selected>Selecione o tipo de conta</option>
          <option value="corrente">Conta Corrente</option>
          <option value="poupanca">Conta Poupança</option>
          <option value="salario">Conta Salário</option>
        </select>
      </div>

      <div class="container mt-lg">
        <button type="submit" class="btn btn-outline-success">Continuar</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
