{% extends 'base.html' %} {% block content %}
<div>
  <div>
    <h1>Banco Jeremilson</h1>
  </div>

  <div class="text-center">
    <h2>Seu banco digital de confiança!</h>
  </div>
    
  <div class="d-flex flex-column gap-3 align-items-center justify-items-center my-4">
    <form action="{{ url_for('movimentar')}}">
      <button type="submit" class="btn btn-secondary btn-lg" style="color: #ffffff; background-color: #e42a2a; ">Sacar ou Depositar</button>
    </form>

    <form action="{{ url_for('saldo')}}">
      <button type="submit" class="btn btn-secondary btn-lg" style="color: #ffffff; background-color: #ce9700; ">Consultar saldo</button>
    </form>

    <form action="{{ url_for('cadastro')}}">
      <button type="submit" class="btn btn-secondary btn-lg" style="color: #ffffff; background-color: #007514; ">Nova conta</button>
    </form>

    <form action="{{ url_for('exibirTudo')}}">
      <button type="submit" class="btn btn-secondary btn-lg" style="color: #ffffff; background-color: #9abaf7; ">Exibir Clientes e Contas</button>
    </form>
        {{ conteudo | safe }}
  </div>
</div>

{% endblock %}
