<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Jeremilson</title>
</head>
<body>
    <div>
        <h1>Banco Jeremilson</h1>
        <p>Seu banco digital de confiança!</p>
        <a href="/movimentar">
            <button>Movimentar conta</button>
        </a>
        <a href="/consulta_saldo">
            <button>Ver Saldo</button>
        </a>
        <a href="/cadastro">
            <button>Fazer cadastro</button>
        </a>
    </div>  
</body>
</html>