<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Jeremilson</title>
</head>

<body>
    <div>
        <h1>Banco Jeremilson</h1>
        <p>Seu banco digital de confiança!</p>
        <form action="{{ url_for('movimentar')}}">
            <button type="submit">Movimentação</button>
        </form>
        <form action="{{ url_for('consulta_saldo')}}">
            <button type="submit">Consultar saldo</button>
        </form>
        <form action="{{ url_for('cadastro')}}">
            <button type="submit">Nova conta</button>
        </form>
    </div>
</body>

</html>