{% extends 'base.html' %} {% block content %}

<div class="text-center">
    <p>
        <form method="POST" action="{{ url_for('saldo') }}">
            <label for="cpf">Digite seu CPF</label>
            <input type="text" id="cpf" name="cpf" required>
            <button onclick="bsubmit" class="btn btn-outline-primary">Consultar Saldo da Conta.</button>
        </form>
    </p>
    
    <div class="text-center">
        <p>
        <form action="{{ url_for('main')}}">
            <button type="submit" class="btn btn-outline-danger">Voltar</button>
        </form>
        </p>
    </div>
        {{ conteudo | safe }}
</div>

{% endblock %}